body {
    font-size: 18px;
    padding-left: 30vw;
    padding-top: 10vw;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}
@media (max-width: 600px) {
    body {
        padding-left: 10vw;
    }
}

main {
    max-width: 350px;
    min-width: 290px;
    background-color: #ffd2e8;
    border-radius: 15px;
    border: 8px solid black; 
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: .75em;
    align-self: stretch;
    height: 400px;
    box-shadow: 5px 5px 0px 0px pink, 11px 11px 0px 0px black;
}

input {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 8px solid black;
    font-size: 25px; 
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    padding: 20px;
    color: #FFD5F3;
    text-shadow: #FF00B7 1px 0 5px;
}

button {
    border-radius: 15%;
    background-color: #ff8787;
    border: 8px solid black; 
    font-size: 18px;
    color: black;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}


button:nth-child(-n+3) {
    background-color: aquamarine;
}

button:nth-child(4) {
    background-color: rgb(127, 210, 255);
}

button:nth-child(18) {
    background-color: rgb(127, 210, 255);
}

button:nth-child(20) {
    background-color: rgb(127, 210, 255);
}

button:nth-child(4n+1) {
    background-color: #a79cd9;
}

button:hover {
    background-color: palevioletred;
  }


.tall {
    grid-column-start: 4;
    grid-row-start: 6;
    grid-row-end: 8;
    border-radius: 10%;
}